spring:
  application:
    name: mscloudgateway
  cloud: #config spring cloud
    gateway:
      discovery:
        locator:
          enabled: true #habilita o localizador de ms
          lower-case-service-id: true #localiza por caixa baixa "clientes"

server:
  port: 8080

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka